<%- include('partials/header') %>
<% home.map(result => { %>
<h1><%=result.title%></h1>
<p>
  <%=result.content%>
</p>
<% }); %> 
<% postContent.map(post => { %>
<h2><%=post.title%></h2>  
<p><%=post.content.substring(0,100) + "..."%> <a href="/posts/:<%=post._id %>">Read More</a></p>  
 <% }); %>
<%- include('partials/footer') %>
